@font-face {
  font-family: Averta;
  src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}
@import url("http://fonts.cdnfonts.com/css/graphik");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}
body {
  color: rgb(82, 72, 71);
}
.index_body {
  font-family: Averta, sans-serif;
}
p,
a,
button,
li {
  opacity: 0.9;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5rem;
}
ul {
  list-style-type: none;
}
a {
  color: rgb(232, 51, 44);
  text-decoration: none;
}
::selection {
  background-color: rgb(100, 155, 206);
  color: white;
}
/* Hero Section */
.hero {
  height: 114vh;
  background-image: url(./img/home/hero-bg.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero_logo {
  width: fit-content;
  margin: 0 auto;
  padding-block: 4rem 5rem;
}
.hero_txt {
  text-align: center;
}
.hero_txt > h1 {
  font-size: 32px;
  font-weight: 600;
}
.hero_txt > p {
  max-width: 680px;
  margin: 2.5rem auto 6rem;
}

.hero_btns {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 15rem;
}
.hero_btns > a:active > button {
  border: 2px solid black;
  border-radius: 0.2rem;
}
.hero_btn1 {
  padding: 0.8rem 1.8rem;
}
.hero_btn2 {
  padding: 0.8rem 2rem;
}
.hero_btn1,
.hero_btn2:hover {
  background-color: rgb(232, 51, 44);
  color: white;
  border: none;
}
.hero_btn1:hover,
.hero_btn2 {
  background-color: white;
  color: rgb(232, 51, 44);
  border: 1px solid rgb(232, 51, 44);
}

/* Programs Section */
.programs {
  margin-block: 10rem;
  position: relative;
}
.programs > h4 {
  color: rgb(232, 51, 44);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.programs > p {
  text-align: center;
  font-size: x-large;
  opacity: 1;
  line-height: 2.7rem;
  margin-block: 0.5rem 5rem;
}
.bg_left {
  background-image: url(./img/home/left_bvmv7q.png);
  position: absolute;
  left: 0;
  top: 6.5rem;
}
.bg_right {
  background-image: url(./img/home/right_yz6hn3.png);
  position: absolute;
  right: 0;
  top: 6.5rem;
}
.bg_left,
.bg_right {
  height: 30rem;
  width: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -5;
}
.program_cards_cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-inline: 2.5rem;
}
.program_cards {
  display: grid;
  gap: 3rem;
  background-color: rgb(254, 250, 249);
  padding: 4rem 2.5rem;
}

/* Footer */
footer {
  margin: 15rem 2.5rem 7rem;
  text-align: left;
}
.foot_main {
  display: flex;
  justify-content: space-between;
}
footer h3 {
  font-weight: 600;
  opacity: 1;
}
footer li {
  margin-bottom: 0.6rem;
  font-size: 14px;
}
.sm_links {
  display: flex;
  gap: 0.6rem;
}
.sm_links > li > a > img {
  width: 1.2rem;
  height: 1.2rem;
}
hr {
  border: 1px solid rgb(219, 219, 219);
  margin-block: 5rem 2rem;
}
footer > p {
  text-align: center;
  font-weight: 600;
}

/* MEDIA QUERIES FOR HOME PAGE */
@media (max-width: 1050px) {
  .bg_left,
  .bg_right {
    display: none;
  }
  .program_cards_cont {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 769px) {
  /* Hero Section */
  .hero {
    padding-inline: 1rem;
  }
  .hero_btns {
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
  }
  .hero_btns {
    align-items: center;
  }

  /* Programs Section */
  .program_cards_cont {
    margin-inline: 1.5rem;
  }

  /* Footer */
  footer {
    text-align: center;
  }
  .foot_main {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
  footer h3 {
    font-size: x-large;
  }
}

/* STYLING FOR industrynew.html PAGE*/
.IN_body {
  font-family: "Graphik", sans-serif !important;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  display: flex;
  padding: 0.6rem 3rem;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.IN_body > nav > ul > li > a {
  color: rgb(82, 72, 71);
  font-size: 20px;
  font-weight: 100;
}
.IN_body > nav > ul > li > a:last-child {
  display: flex;
  align-items: center;
}
nav > ul > li > a > img {
  width: 4.5rem;
  background-color: rgb(240, 137, 128);
  border: 10px solid rgb(232, 51, 44);
  border-radius: 50%;
}
.enroll {
  padding: 0.7rem 2.5rem;
  color: white;
  background-color: rgb(232, 51, 44);
  border-radius: 2rem;
  margin-left: -2rem;
  z-index: -1;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

/* Hero Section */
.IN_hero {
  margin: 18rem 4rem 3rem;
  display: flex;
}
.IN_hero > img:nth-of-type(1) {
  margin-right: -2.9rem;
  height: 20rem;
}
.IN_hero > img:nth-of-type(2) {
  margin: -2rem 0 0 -2rem;
  height: 24rem;
}
.IN_hero_txt {
  position: relative;
  text-align: center;
  margin-top: -6rem;
}
.IN_hero_txt h1 {
  font-size: 3rem;
  font-weight: 700;
}
.IN_hero_txt p {
  font-size: 18px;
}
.IN_hero_txt > p:first-of-type {
  color: rgb(232, 51, 44);
}
.IN_hero_txt > img:nth-of-type(1) {
  position: absolute;
  width: 11rem;
}
.IN_hero_txt > p:nth-of-type(2) {
  width: 61%;
  margin: 3rem auto;
}
.tinyman {
  height: 4rem;
  position: absolute;
  left: 2.5rem;
}
.hero_twist {
  height: 6.5rem;
  position: absolute;
  bottom: -3.5rem;
  margin-left: -3rem;
}

/* About Us Section */
#IN_about {
  border-top: 1px solid rgba(82, 72, 71, 0.473);
  border-bottom: 1px solid rgba(82, 72, 71, 0.473);
  margin: 6rem 4rem 4rem;
  /* padding-block: 3rem; */
  display: grid;
  grid-template-columns: 1fr 0.9fr 1fr;
  align-items: center;
  justify-content: center;
  /* gap: 3rem; */
}
#IN_about > img {
  height: 11.5rem;
  margin: 0 auto;
}
#IN_about > p {
  font-size: 25px;
  line-height: 2rem;
  text-align: right;
}
#IN_about > p > a {
  color: rgb(6, 230, 129);
  font-size: 25px;
  text-decoration: underline;
}

/* Why Zuri? Section*/
